@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon.ttf');

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-library:before {
  content: "\e921";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-database:before {
  content: "\e964";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-github:before {
  content: "\eab0";
}
.icon-css3:before {
  content: "\eae6";
}
